# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables file
.env

/acme-challenge/
/ssl
/conf/*.default
conf/fastcgi.conf
conf/fastcgi_params
conf/koi-utf
conf/koi-win
conf/scgi_params
conf/uwsgi_params
conf/win-utf
